# Local dev files
.idea

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# TFE License file
*.rli

# Ignore any .tfvars files that are likely to contain sensitive data.
*.tfvars



